.barra2 {
    display: flex;
    justify-content: center;
    height: auto;
    align-items: center;
    padding-bottom: 5px;
    margin-top: 10px;
}

.navbar2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 800px;
   
    perspective: 1000px;
}

.botonio {
    font-family: Orbitron;
    background-color: black;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    align-content: center;
    text-decoration: none;
    height: 45px;
    transform-style: preserve-3d; 
    transition: transform 1s ease; /* Transición suave */
   /* transform: rotateX(0deg); Gira el botón 180 grados en el eje Y */
    
}

.botonio:hover {
    background-color: rgb(54, 54, 54);
    cursor: pointer;
    transform: rotateX(180deg); /* Gira el botón 180 grados en el eje Y */
    
}

.botonio:hover .button-inner {
    transform: rotateX(180deg); /* Mantiene el texto recto */

  }
  

.active-link {
    background-color: #007bff; /* Un color para el enlace activo */
    color: white;
    
  }

  .botonio.active {
    background-color: #040018; /* Cambia el color del botón cuando está activo */
  }
  
  /* Opcionalmente puedes añadir otros estilos de hover para el botón activo */
  

